{% extends "homebase.html" %}
{% block title %}{{ cars.title }} {% endblock %}
{% block keywords %}{{ cars.keywords }} {% endblock %}
{% block description %}{{ cars.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}

    <!-- Start Proerty header  -->
    <section id="aa-property-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-property-header-inner"  >
                        <h2>HAKKIMIZDA</h2>
                        <ol class="breadcrumb">
                            <li><a href="/home">ANASAYFA</a></li>
                            <li><a href="#">ARAÇLAR </a></li>
                            <li><a href="/category/{{ cars.category_id }}/{{ cars.category.slug }}">{{  cars.category }}</a></li>
                            <li class="active">{{ cars.title }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Proerty header  -->
    <section id="aa-properties">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="aa-properties-content">
                        <!-- Start properties content body -->

                        <div class="aa-properties-details">

                            <div class="aa-properties-details-img">
                                <img src="{{ cars.image.url }}" alt="img">
                                {% for  rs in images%}
                                    <img src="{{ rs.image.url }}" alt="img">
                                {% endfor %}
                            </div>

                            <div class="aa-properties-info">

                                <div>
                                    <h3>{{ cars.title }} Detail</h3>
                                    <p>{{ cars.detail |safe }}</p>
                                </div>
                            </div>
                            <!-- Properties social share -->
                            <div class="aa-properties-social">
                                <ul>
                                    <li>Share</li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>

                            <!-- comment threats -->

                            <div class="col-md-12">
                                <div class="aa-comments-area">
                                    <h3>Comments</h3>
                                    <div class="comments">
                                        <ul class="commentlist">
                                            <li>
                                                {% for rs in comments %}

                                                    <div class="media">
                                                        <div class="media-left">
                                                            <img alt="img" src="img/testimonial-1.png" class="media-object news-img">
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="author-name">{{ rs.user.first_name }}</h4>
                                                            <span class="comments-date"> {{ rs.create_at}}</span>
                                                            <h4>{{ rs.subject }}</h4>
                                                            <p>{{ rs.comment }}</p>
                                                            <a class="reply-btn" href="#">Reply</a>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </li>
                                        </ul>
                                        <!-- comments pagination -->
                                        <nav>
                                            <ul class="pagination comments-pagination">
                                                <li>
                                                    <a aria-label="Previous" href="#">
                                                        <span aria-hidden="true">«</span>
                                                    </a>
                                                </li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a aria-label="Next" href="#">
                                                        <span aria-hidden="true">»</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div id="respond">
                                    <h3 class="reply-title">Leave a Comment</h3>
                                    {% if messages %}
                                        {%  for message in messages %}
                                            <div class="alert alert-{{ message.tags }}" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <form id="commentform" action="/product/addcomment/{{ cars.id }}" method="post">
                                        {% csrf_token %}

                                        <p class="comment-form-author">
                                            <label for="author">Name <span class="required">*</span></label>
                                            <input type="text"  id="id_author" required ="required" placeholder="name" size="30" value="" name="author">
                                        </p>

                                        <p class="comment-form-url">
                                            <label for="url">Subject<span class="required">*</span></label>
                                            <input type="text"  id="id_subject" value="" name="subject" placeholder="Subject">
                                        </p>
                                        <p class="comment-form-comment">
                                            <label for="comment">Comment <span class="required">*</span></label>
                                            <textarea required="required"  id="id_comment" aria-required="true" rows="8" cols="45"  placeholder="Your review" name="comment"></textarea>
                                        </p>


                                        <p class="form-submit">
                                            {% if user.id is not None %}
                                                <input type="submit" value="Post Comment" class="aa-browse-btn" name="submit">
                                            {% else %}
                                                Yorum Eklemek için  <a href="/login"> Login</a> Yapmalısınız.
                                            {% endif %}
                                        </p>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div></div>
                <!-- Start properties sidebar -->

                <div class="col-md-4">
                    <aside class="aa-properties-sidebar">
                        <!-- Start Single properties sidebar -->
                        <div class="aa-properties-single-sidebar">
{#                            <h3>{{ cars.title }}</h3>#}
                            <div class="aa-properties-info">
                                <h2>{{ cars.title }}</h2>
                                <span class="aa-price">($){{cars.price}}</span>

                            </div>

                        </div>
                        <div class="aa-properties-single-sidebar">
                            <h3>Transfer İşlemleri</h3>
                            <form action="/transfer/transferform/{{ cars.id }}" method="post">
                                {% csrf_token %}
                                <div class="aa-single-advance-search">
                                    <input type="date" name="transfer_date" placeholder="Transfer tarihi">
                                </div>
                                  <div class="aa-single-advance-search">
                                    <input type="time" name="transfer_time" placeholder="Transfer Saati">
                                </div>

                                <div class="aa-single-advance-search">
                                    <select  name="take_off">
                                        <option selected="-" value="-">Nereden?</option>
                                        <option >Ank.Esenboğa Havalimani</option>
                                         <option >İst. Atatürk Havalimani</option>
                                         <option >Adana Havalimani</option>
                                         <option >Van Ferit Melen Havalimani</option>
                                        <option >Ankara Çankaya</option>
                                        <option >Istanbul Aksaray</option>
                                        <option >Adana Kozan</option>
                                        <option >Van Edremit</option>
                                    </select>
                                </div>

                                <div class="aa-single-advance-search">
                                    <select  name="arrive">
                                        <option selected="-" value="-">Nereye</option>
                                          <option >Ank.Esenboğa Havalimani</option>
                                         <option >İst. Atatürk Havalimani</option>
                                         <option >Adana Havalimani</option>
                                         <option >Van Ferit Melen Havalimani</option>
                                        <option >Ankara Çankaya</option>
                                        <option >Istanbul Aksaray</option>
                                        <option >Adana Kozan</option>
                                        <option >Van Edremit</option>
                                    </select>
                                </div>
                                <div class="aa-single-advance-search">
                                    <input type="number" name="seat" placeholder="Kişi">
                                </div>

                                <div class="aa-single-advance-search">
                                    <input type="submit" value="Transfer" class="aa-search-btn">
                                </div>
                            </form>
                        </div>



                    </aside>
                </div>

            </div>
        </div>
    </section>


{% endblock %}
