{% load static %}
<!-- Footer -->
  <footer id="aa-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="aa-footer-area">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-left">
               <p>Designed by <a rel="nofollow" href="http://www.markups.io/">MarkUps.io</a></p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-middle">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="aa-footer-right">
                <a href="#">Home</a>
                <a href="#">Support</a>
                <a href="#">License</a>
                <a href="#">FAQ</a>
                <a href="#">Privacy & Term</a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
  <!-- / Footer -->

 
  
  <!-- jQuery library -->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' %}"></script> -->
  <script src=" {% static  'js/jquery.min.js' %}"></script>   
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src=" {% static  'js/bootstrap.js' %}"></script>   
  <!-- slick slider -->
  <script type="text/javascript" src=" {% static  'js/slick.js' %}"></script>
  <!-- Price picker slider -->
  <script type="text/javascript" src=" {% static  'js/nouislider.js' %}"></script>
   <!-- mixit slider -->
  <script type="text/javascript" src=" {% static  'js/jquery.mixitup.js' %}"></script>
  <!-- Add fancyBox -->        
  <script type="text/javascript" src=" {% static  'js/jquery.fancybox.pack.js' %}"></script>
  <!-- Custom js -->
  <script src=" {% static  'js/custom.js' %}"></script> 
