{% extends "homebase.html" %}
{% block title %}İletisim{{ setting.company }} {% endblock %}
{% block keywords %}{{ setting.keywords }} {% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}

  <!-- Start Proerty header  -->
  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner"  >
              <h2>İLETİŞİM</h2>
            <ol class="breadcrumb">
            <li><a href="#">ANASAYFA</a></li>
            <li class="active">İletişim</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Proerty header  -->
  <section id="section">

    <div class="container">
      <row>
        <div class="col-md-8">
          <div class="section-title">
            <h3 class="title">İletişim Bilgilerim</h3>
          </div>
             {{ setting.contact | safe }}
        </div>
        <div class="col-md-4">
            <div class="aa-contact-bottom">
                  <div class="aa-title">
                    <h3 class="title">İletişim Formu</h3>
                  </div>
                   {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-{{message.tags}}" role="alert">
                          {{ message }}
                        </div>
                      {% endfor %}
                   {% endif %}

                   <form action="" method="post">
                     {% csrf_token %}
                     {{ form.as_p }}
                     <input type="submit" value="SEND FORM">
                   </form>
             </div>
        </div>
      </row>
    </div>
  </section>


{% endblock %}
