{% load static %}
<!-- Start menu section -->
<section id="aa-menu-area">
    <nav id="mainav" class="navbar navbar-default main-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- LOGO -->
                <!-- Text based logo -->
                <a class="navbar-brand aa-logo" href="/"> Havalimanı <span> Transfer</span></a>
                <!-- Image based logo -->
                <!-- <a class="navbar-brand aa-logo-img" href="index.html"><img src="img/logo.png" alt="logo"></a> -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav  ml-auto ">
                    <li class="active"><a href="/">Anasayfa</a></li>
                    <li class="dropdown">
                        <a class=" dropdown-toggle" data-toggle="dropdown" href="#">
                            KATEGORİLER
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" >
                            {% load mptt_tags %}
                            {% recursetree category %}

                                {% if node.is_leaf_node %}

                                    <li><a tabindex="-1" href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a></li>

                                {% endif %}

                                {% if not node.is_leaf_node %}
                                    <li class="dropdown-submenu dropdown">
                                        <a  tabindex="-1" href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }} <span
                                                class="caret"></span></a>
                                        <ul  class="dropdown-menu ">
                                            {{ children }}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endrecursetree %}
                        </ul>
                    </li>


                    <li><a href="/iletisim">İLETİŞİM</a></li>
                    <li><a href="/referanslar">REFERANSLAR</a></li>
                    <li><a href="/hakkimizda">HAKKIMIZDA</a></li>
                    <li class="nav-item dropdown">
                        {% if user.id is not None %}
                            <a class="nav-link dropdown-toggle" href="#"
                               data-toggle="dropdown">{{ user.first_name }}</a>

                            <ul class="dropdown-menu">
                                <li><a href="/user"><span class="icon-user"></span>Hesabım</a></li>
                                <li><a href="/user/comments/"><span class="icon-pencil"></span>Yorumlar</a></li>
                                <li><a href="/logout/"> Çıkış Yap</a>
                                </li>


                            </ul>

                        {% else %}
                            <a class="nav-link dropdown-toggle" href="#"
                               data-toggle="dropdown">LOGIN</a>
                            <ul class="dropdown-menu">
                                <li><a href="/login/" class="text-uppercase">Login</a></li>
                                <li><a href="/signup/" class="text-uppercase">SignUp</a></li>
                            </ul>
                        {% endif %}

                    </li>
                    {% if user.id is not None %}
                        <li class="nav-item">
                            <div class="nav-link">
                                <img height="40" src="{{ user.userprofile.image.url }}">
                            </div>
                        </li>
                    {% endif %}

                    {#                    <li><a href="404.html">404 PAGE</a></li>#}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    {#

</section>
<!-- End menu section -->
