{% load static %}
 <!-- Start slider  -->
  <section id="aa-slider">
    <div class="aa-slider-area">
      <!-- Top slider -->
      <div class="aa-top-slider">
        <!-- Top slider single slide -->
        {% for rs in sliderdata %}
        <div class="aa-top-slider-single">
          <img src="{{ rs.image.url }}" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <span class="aa-top-slider-catg">{{ rs.category.title }}</span>
            <h2 class="aa-top-slider-title">{{ rs.title }}</h2>
            <a href="/product/{{ rs.id }}/{{ rs.slug}} " class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
          </div>
          <!-- / Top slider content -->
         </div>
        {% endfor %}
        <!-- / Top slider single slide -->

        <!-- / Top slider single slide -->
      </div>
    </div>
  </section>
  <!-- End slider  -->