{% extends "homebase.html" %}
{% block title %}Transfer {% endblock %}
{% block keywords %}{{ setting.keywords }} {% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    <!-- Start Proerty header  -->
    <section id="aa-property-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-property-header-inner">
                        <h2>Kullanıcı Sayfası</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">ANASAYFA</a></li>
                            <li class="active">Kullanıcı Bilgileri</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Proerty header  -->


    <section id="aa-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-contact-area">
                        <div class="aa-contact-top">
                            <div class="aa-contact-top-left">
                                <div class="section-title">
                                    <h3 class="title">Kullanıcı Transfer Listesi</h3>
                                </div>
                                <table class="table table-responsive">

                                    <tr>
                                        <th class="text-left">Code</th>
                                        <th class="text-left">First Name</th>
                                        <th class="text-left">Last Name </th>
                                        <th class="text-left">Total</th>
                                        <th class="text-left">Status</th>
                                        <th class="text-left">Date</th>
                                        <th class="text-left">Take-off</th>
                                        <th class="text-left">Arrive</th>
                                        <th class="text-left">Detail</th>
                                    </tr>
                                    {% for rs in transfers %}
                                        <tr>
                                            <td class="text-left">{{ rs.code }}</td>
                                            <td class="text-left">{{ rs.first_name }}</td>
                                            <td class="text-left">{{ rs.last_name }}</td>
                                            <td class="text-left">{{ rs.transfer_car.total }}</td>
                                            <td class="text-left">{{ rs.status }}</td>
                                            <td class="text-left">{{ rs.transfer_car.transfer_date }}</td>
                                            <td class="text-left">{{ rs.transfer_car.take_off }}</td>
                                            <td class="text-left">{{ rs.transfer_car.arrive }}</td>
                                            <td class="text-left"><a class="btn aa-primary-btn" href="/user/transferdetail/{{ rs.id }}">Detay</a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="col-md-4">

                                {% include "user_panel.html" %}

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>


{% endblock %}
