{% extends "homebase.html" %}
{% block title %}Transfer {% endblock %}
{% block keywords %}{{ setting.keywords }} {% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    <!-- Start Proerty header  -->
    <section id="aa-property-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-property-header-inner"  >
                        <h2>Kullanıcı Sayfası</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">ANASAYFA</a></li>
                            <li class="active">Kullanıcı Bilgileri</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Proerty header  -->


    <section id="aa-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-contact-area">
                        <div class="aa-contact-top">
                            <div class="aa-contact-top-left">
                                <div class="section-title">
                                    <h3 class="title">Kullanıcı Transfer Listesi</h3>
                                </div>
                                <table class="table table-responsive">

                                    <tr>
                                        <th class="text-left">Transfer Araç</th>
                                        <th class="text-left">Comment</th>
                                        <th class="text-left">Status</th>
                                        <th class="text-left">Date</th>
                                         <th class="text-left">Nereden</th>
                                        <th class="text-left">Nereye</th>
                                        <th class="text-left">Detail</th>
                                    </tr>
                                    {% for rs in comments %}
                                        <tr>
                                            <td class="text-left">{{ rs.product.title }}</td>
                                            <td class="text-left">{{ rs.comment }}</td>
                                            <td class="text-left">{{ rs.status }}</td>
                                            <td class="text-left">{{ rs.create_at}}</td>
                                            <td class="text-left">{{ rs.take_off }}</td>
                                            <td class="text-left">{{ rs.arrive }}</td>
                                            <td class="text-left"><a class="btn aa-primary-btn" href="/user/deletecomment/{{ rs.id }}">Delete</a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="col-md-4">

                                {% include "user_panel.html" %}

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>


{% endblock %}
