{% extends "homebase.html" %}
{% block title %}Transfer {% endblock %}
{% block keywords %}{{ setting.keywords }} {% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    <!-- Start Proerty header  -->
    <section id="aa-property-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-property-header-inner"  >
                        <h2>Kullanıcı Sayfası</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">ANASAYFA</a></li>
                            <li class="active">Kullanıcı Bilgileri</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Proerty header  -->


    <section id="aa-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-contact-area">
                        <div class="aa-contact-top">
                            <div class="aa-contact-top-left">
                            <div class="section-title">
                                    <h3 class="title">Transfer Bilgilerim</h3>
                                </div>
                                <table class="table table-responsive">


                                    <tr>  <th>Ad Soyad</th>
                                        <td>{{ profile.user_name }}</td></tr>
                                    <tr>   <th>Email</th>
                                        <td>{{ profile.user.email}}</td>
                                    </tr>
                                    <tr>    <th>Telefon</th>
                                        <td>{{ profile.phone}}</td>
                                    </tr>
                                    <tr>
                                        <th>Adres</th>
                                        <td>{{ profile.address }}</td>
                                    </tr>
                                    <tr>
                                        <th>Şehir</th>
                                        <td>{{ profile.city }}</td>
                                    </tr>
                                    <tr>
                                        <th>Ülke</th>
                                        <td>{{ profile.country }}</td>
                                    </tr>




                                </table>
                                <div class="section-title">
                                    <h3 class="title">Kullanıcı Transfer Listesi</h3>
                                </div>
                                <table class="table table-responsive">

                                    <tr>
                                        <th class="text-left">Image</th>
                                        <th class="text-left">Transfer Car Name</th>
                                        <th class="text-left">Price </th>
                                        <th class="text-left">Person</th>
                                        <th class="text-left">Amount</th>
                                        <th class="text-left">Status</th>
                                        <th class="text-left">Date</th>
                                    </tr>
                                    {% for rs in transferitemsitems %}
                                        <tr>

                                            <td class="text-left">
                                                <a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">
                                                    <img src="{{ rs.product.image.url }}" height="80px">
                                                </a>
                                            </td>
                                            <td class="text-left">{{ rs.product.title }}</td>
                                            <td class="text-left">{{ rs.price }}</td>
                                            <td class="text-left">{{ rs.quantity }}</td>
                                            <td class="text-left">{{ rs.amount }}</td>
                                            <td class="text-left">{{ rs.status }}</td>
                                            <td class="text-left">{{ rs.date }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="col-md-4">

                                {% include "user_panel.html" %}

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>


{% endblock %}
