{% extends "homebase.html" %}
{% block title %} Transfer Form {% endblock %}
{% block keywords %}{{ setting.keywords }} {% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}

    <!-- Start Proerty header  -->
    <section id="aa-property-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-property-header-inner">
                        <h2>Transfer</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">ANASAYFA</a></li>
                            <li class="active">Transfer formu</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Proerty header  -->
    <section id="aa-error">
        <div class="container">
            <row>
                <div class="col-md-12">
                    <div class="aa-contact-bottom">
                        <div class="aa-title">
                            <h2>Transfer FORMU </h2>

                        </div>
                        <div class="aa-contact-form">



                            <form  method="post" class="col-md-12">
                                {% csrf_token %}
                                <div class="col-md-6">
                                    <div>
                                        <p>
                                            <label for="id_first_name">First Name :</label>
                                            <input type="text" name="first_name" value="{{ user.first_name }}"
                                                   class="input-group" maxlength="20">
                                        </p>
                                        <p>
                                            <label for="id_last_name">Last Name :</label>
                                            <input type="text" name="last_name" value="{{ user.last_name }}"
                                                   class="input-group" maxlength="20">
                                        </p>
                                        <p>
                                            <label for="id_phone">Phone :</label>
                                            <input type="text" name="phone" value="{{ profile.phone }}"
                                                   class="input-group" id="id_phone" maxlength="20">
                                        </p>
                                        <p>
                                            <label for="id_address">Address :</label>
                                            <input type="text" name="address" value="{{ profile.address }}"
                                                   class="input-group" id="id_address" maxlength="20">
                                        </p>
                                        <p>
                                            <label for="id_city">City :</label>
                                            <select name="city" class="input-group" id="id_city">
                                                <option value="{{ profile.city }}" selected>{{ profile.city }}</option>
                                                <option value="İstanbul">İstanbul</option>
                                                <option value="Ankara">Ankara</option>
                                                <option value="İzmir">İzmir</option>
                                                <option value="Kastamonu">Kastamonu</option>
                                                <option value="Bursa">Bursa</option>
                                                <option value="Konya">Konya</option>
                                            </select>
                                        </p>
                                        <p>
                                            <label for="id_first_name">Country :</label>
                                            <input type="text" name="country" id="id_country"
                                                   value="{{ profile.country }}" class="input-group" maxlength="20">
                                        </p>
                                        <!--
                                        <p>
                                            <label for="id_date">Date :</label>
                                            <input type="text" name="date" id="datepicker" placeholder="Date & Time"
                                                   class="dates form-control input-group">
                                        </p>
                                        <p>
                                            <label for="id_time">Time :</label>
                                            <input type="time" name="time" id="id_time" placeholder="Time"
                                                   class=" form-control input-group">
                                        </p>

                                        <p>
                                            <label for="id_take_off">Take-off :</label>
                                            <select name="take_off" class="input-group" id="id_take_off">
                                                <option value="{{ profile.take_off }}"
                                                        selected>{{ profile.take_off }}</option>
                                                <option value="Havalimani">Havalimani</option>
                                                <option value="Havalimani-*">Havalimani-*</option>
                                                <option value="Sehir-A">Sehir-A</option>
                                                <option value="Sehir-B">Sehir-B</option>
                                                <option value="Sehir-C">Sehir-C</option>
                                            </select>
                                        </p>
                                        <p>
                                            <label for="id_arrive">Arrive :</label>
                                            <select name="arrive" class="input-group" id="id_arrive">
                                                <option value="{{ profile.arrive }}"
                                                        selected>{{ profile.arrive }}</option>
                                                <option value="Havalimani">Havalimani</option>
                                                <option value="Havalimani-*">Havalimani-*</option>
                                                <option value="Sehir-A">Sehir-A</option>
                                                <option value="Sehir-B">Sehir-B</option>
                                                <option value="Sehir-C">Sehir-C</option>
                                            </select>
                                        </p>
                                        -->
                                    </div>

                                    <button type="submit" class="primary-btn">Complete Transfer</button>

                                </div>

                                <a class="btn btn-danger" href="/transfer/transfercarCancel/{{ transfer.transfer_car.id }}">Cancel</a>


                            </form>
                        </div>


                    </div>
                </div>
            </row>
        </div>
    </section>


{% endblock %}
